<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transportes 2022</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/transporte.css">
    <link rel="stylesheet" href="/stylesheets/admin.css">
    

</head>

<body>
    <header>
        <div class="holder">
            <img src="/images/logo.png" width="100" alt="Transportes 2022">
            <h1>Transportes 2022</h1>
        </div>
    </header>
    <main class="holder">
        {{{body}}}
    </main>
    <footer>
        <p>Diseñado por David Ramirez- 2022</p>
    </footer>
</body>

</html>